<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <wizard
            id="org.openscada.vi.model.VisualInterface.presentation.VisualInterfaceModelWizardID"
            name="%_UI_VisualInterfaceModelWizard_label"
            class="org.openscada.vi.model.VisualInterface.presentation.VisualInterfaceModelWizard"
            category="org.openscada.dakara"
            icon="icons/full/obj16/VisualInterfaceModelFile.gif">
         <description>%_UI_VisualInterfaceModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <editor
            id="org.openscada.vi.model.VisualInterface.presentation.VisualInterfaceEditorID"
            name="%_UI_VisualInterfaceEditor_label"
            icon="icons/full/obj16/VisualInterfaceModelFile.gif"
            extensions="vi"
            class="org.openscada.vi.model.VisualInterface.presentation.VisualInterfaceEditor"
            contributorClass="org.openscada.vi.model.VisualInterface.presentation.VisualInterfaceActionBarContributor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.core.contenttype.contentTypes">
      <file-association
            content-type="org.eclipse.emf.ecore.xmi"
            file-extensions="vi">
      </file-association>
   </extension>

</plugin>
