<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="org.openscada.ui.singleviewer.app.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="Visual Interface Perspective"
            class="org.openscada.ui.singleviewer.app.Perspective"
            id="org.openscada.ui.singleViewer.app.perspective">
      </perspective>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.openscada.ui.singleViewer.app.application"
            name="openSCADA Single Viewer Application">
         <property
               name="windowImages"
               value="platform:/plugin/org.openscada.othala.application/icons/app/Sign_open-Scada_16px.png,icons/alt_window_32.gif">
         </property>
         <property
               name="appName"
               value="openSCADA Single Viewer Application">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.openscada.ui.singleViewer.app.perspective">
         <view
               closeable="false"
               id="org.openscada.vi.ui.user.SingleVisualInterfaceView"
               minimized="false"
               moveable="false"
               relationship="top"
               relative="org.eclipse.ui.editorss"
               showTitle="false"
               standalone="true"
               visible="true">
         </view>
      </perspectiveExtension>
   </extension>

</plugin>
